@page
@model ClinicaVet.App.Frontend.Pages.AdicionClienteModel
@using ClinicaVet.App.Dominio
@{
}
<h1>Agregar Cliente</h1>
<form method="post" class="mt-3">
    <input hidden asp-for="dueño.Id"/>
    <div class="form-group row">
        <label asp-for="dueño.cedula" class="col-sm-2">Nombre</label>
        <input asp-for="dueño.cedula" class="form-control" value="" required>
    </div>
    <div class="form-group row">
        <label asp-for="dueño.nombre" class="col-sm-2">Nombre</label>
        <input asp-for="dueño.nombre" class="form-control" value="">
    </div>
    <div class="form-group row">
        <label asp-for="dueño.apellido" class="col-sm-2">Nombre</label>
        <input asp-for="dueño.apellido" class="form-control" value="">
    </div>      
    <div class="form-group row">
        <label asp-for="dueño.celular" class="col-sm-2">Edad</label>
        <input asp-for="dueño.celular" class="form-control" value="">
    </div>   
    <div class="form-group row">
        <label asp-for="dueño.direccion" class="col-sm-2">Hospital</label>
        <input asp-for="dueño.direccion" class="form-control" value="">
    </div>  
    <div class="form-group row">
        <label asp-for="dueño.ciudad" class="col-sm-2">Información laboral</label>
        <input asp-for="dueño.ciudad" class="form-control" value="">
    </div>  
    <div class="form-group row">
        <label asp-for="dueño.username" class="col-sm-2">Nombre de usuario</label>
        <input asp-for="dueño.username" class="form-control" value="">
    </div>  
    <div class="form-group row">
        <label asp-for="dueño.email" class="col-sm-2">Correo electrónico</label>
        <input asp-for="dueño.email" class="form-control" value="">
    </div>  
    <div class="form-group row">
        <label asp-for="dueño.password" class="col-sm-2">Contraseña</label>
        <input asp-for="dueño.password" class="form-control" value="">
    </div>  
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="./ListaCliente" class="btn btn-primary">Cancelar</a>
    </div>
</form>