@page
@using ClinicaVet.App.Dominio
@using ClinicaVet.App.Persistencia
@model ClinicaVet.App.Frontend.Pages.ListaClientesModel
@{
}
<h1>Gestionar Dueños</h1>
<p>Está pagina esta diseñada para gestionar nuevos Clientes</p>
<a class="btn btn-primary table-btn" asp-page="./AdicionCliente">Agregar Cliente</a>
<table class="table table-dark">
<tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Cedula</th>
    <th scope="col">Celular</th>
    <th scope="col">Dirección</th>
    <th scope="col">Ciudad</th>
</tr>
@foreach(var dueño in Model.dueños){
    <tr>
        <td>@dueño.Id</td>
        <td>@dueño.nombre</td>
        <td>@dueño.apellido</td>
        <td>@dueño.cedula</td>
        <td>@dueño.celular</td>
        <td>@dueño.direccion</td>
        <td>@dueño.ciudad</td>
        <td>@dueño.email</td>
        
        <td><a class="btn btn-primary table-btn" asp-page="./DetalleCliente" asp-route-cedula="@dueño.cedula">Detalle</a><br>
        <a class="btn btn-primary table-btn" asp-page="./EditarCLiente" asp-route-cedula="@dueño.cedula">Editar</a><br>
        <a class="btn btn-primary table-btn" asp-page="./EliminarCliente" asp-route-cedula="@dueño.cedula">Eliminar</a>
        <br>
    </tr>
}
</table>

<img class="img-responsive img-rounded" src="~/imagenes/dueno.jpg" alt="imagen dueño">