@page
@model ClinicaVet.App.Frontend.Pages.EliminarVeterinarioModel
@using ClinicaVet.App.Dominio
@{
}
<h1>Esta seguro de eliminar este veterinario</h1>
<p>Se va ha eliminar el veterinario @Model.veterinario.nombre</p>
<form method="post" class="mt-3">
    <input hidden asp-for="veterinario.cedula"/>
    <button type="submit" class="btn btn-primary">Eliminar</button>
    <a asp-page="./ListaVeterinarios" class="btn btn-primary">Cancelar</a>
</form>
