@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CLINICA VETERINARIA</h1>
    <p>URGENCIAS 24 HORAS ¡ESTAMOS PARA ATENDERLO!</p>
    <img class="img-responsive img-rounded" src="~/imagenes/inicio.jpeg" alt="imagen principal">
</div>
